<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>更新项目信息</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="../static/layer/theme/default/layer.css" th:href="@{/layer/theme/default/layer.css}"/>
</head>
<body>

<form class="layui-form" action="">

    <label class="layui-form-label">项目ID</label>
    <div class="layui-form-mid layui-word-aux" name="proId" id="proId"><span th:text="${session.editProject.proId}"></span></div>

    <label class="layui-form-label">用户ID</label>
    <div class="layui-form-mid layui-word-aux" name="userId" id="userId"><span th:text="${session.editProject.userId}"></span></div>

    <div class="layui-form-item">
        <label class="layui-form-label">项目名</label>
        <div class="layui-input-inline">
            <input type="text" name="proName" id="proName" placeholder="请输入项目名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><span th:text="${session.editProject.proName}"></span></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">内容</label>
        <div class="layui-input-inline">
            <input type="text" name="content" id="content" placeholder="请输入内容" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"><span th:text="${session.editProject.content}"></span></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-inline">
            <select name="type" id="type" lay-verify="required">
                <option value="快递服务">快递服务</option>
                <option value="知识服务">知识服务</option>
                <option value="劳动服务">劳动服务</option>
                <option value="其他服务">其他服务</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux"><span th:text="${session.editProject.type}"></span></div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">修改</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>


<script type="text/javascript" src="../static/layui/layui.js" th:src="@{/layui/layui.js}"></script>
<script type="text/javascript" th:inline="javascript">
    layui.use('form', function(){

        var form = layui.form;
        var $ = layui.jquery;  //直接引入官方的Jquery来和平常一样使用
        var later = layer;
        var json = '[[${session.editProject}]]';
        var editProject = JSON.parse(json);

        $(function () {

            $('#proName').attr('value',editProject.proName);
            $('#content').attr('value',editProject.content);
            $('#type').attr('value',editProject.type);

            form.render(); //更新全部
        });

        //监听提交
        form.on('submit(formDemo)', function(data){
            console.log("___________"+data);
            console.log("______2_____"+data.field);
            console.log("_______3____"+data.field.proName);
            $.ajax({
                method: "POST",
                url: 'http://localhost:8080/service_rental/project/updateProject',
                data: JSON.stringify({
                    "proId": editProject.proId,
                    "proName": data.field.proName,
                    "content": data.field.content,
                    "type": data.field.type
                }),
                async: false,
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (res) {
                    if (res.code === 1000) {
                        // 提示语
                        layer.msg('修改成功', {
                            icon: 1,
                            time: 1500
                        });
                        // 获得frame索引
                        var index02 = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index02);
                        //修改成功后刷新父界面
                        window.parent.location.reload();
                    } else {
                        // 错误信息
                        layer.msg(res.message, {icon: 2, anim: 6});
                    }
                },
                error: function () {
                    layer.msg("AJAX请求异常");
                    layer.alert("AJAX请求异常，返回结果："+res);
                }
            });
            //return false;
        });

    });
</script>
</body>
</html>