<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>服务出租系统</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" href="../static/layer/theme/default/layer.css" th:href="@{/layer/theme/default/layer.css}" media="all"/>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--引入统一头部-->
    <div>
        <iframe src="http://localhost:8080/service_rental/head.html" width="100%" height="100%" frameborder="0" target="_top"></iframe>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree">

                <li class="layui-nav-item">
                    <a class="" id="typeA" th:text = "用户信息"></a>
                    <dl class="layui-nav-child">
                        <dd class="layui-nav">
                            <a href="javascript:;" class="site-url" data-id="4"  data-title="修改个人信息" data-url="http://localhost:8080/service_rental/userUpdate.html" data-type="tabAdd">
                                修改个人信息
                            </a>
                        </dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                     <span th:if="${session.role.type} eq 2">
                         <a class="" id="typeB" th:text = "接受服务单"></a>
                         <dl class="layui-nav-child">
                            <dd class="layui-nav">
                                <a href="javascript:;" class="site-url queryHire" data-id="6"  data-title="已接受服务信息" data-url="http://localhost:8080/service_rental/hireUser.html" data-type="tabAdd">
                                    已接受服务项目信息
                                </a>
                            </dd>
                        </dl>
                     </span>
                     <span th:if="${session.role.type} eq 1">
                         <a class="" id="typeD" th:text = "发布服务单"></a>
                          <dl class="layui-nav-child">
                            <dd class="layui-nav">
                                <a href="javascript:;" class="site-url queryHire" data-id="6"  data-title="已发布服务信息" data-url="http://localhost:8080/service_rental/hireUser.html" data-type="tabAdd">
                                    已发布服务项目信息
                                </a>
                            </dd>
                        </dl>
                     </span>
                </li>


                <li class="layui-nav-item">
                    <span th:if="${session.role.type} eq 3">
                        <a class="" id="typeE" th:text = "用户管理"></a>
                        <dl class="layui-nav-child">
                            <dd class="layui-nav">
                                <a href="javascript:;" th:id="用户管理" class="site-url" data-id="5"  data-title="用户" data-url="http://localhost:8080/service_rental/manage.html" data-type="tabAdd">
                                    用户管理
                                </a>
                            </dd>
                        </dl>
                        <a class="" id="typeF" th:text = "项目管理"></a>
                        <dl class="layui-nav-child">
                            <dd class="layui-nav">
                                <a href="javascript:;" th:id="项目管理" class="site-url" data-id="7"  data-title="项目" data-url="http://localhost:8080/service_rental/pro_manage.html" data-type="tabAdd">
                                    项目管理
                                </a>
                            </dd>
                        </dl>
                    </span>
                </li>

            </ul>

        </div>
    </div>

    <div class="layui-body">
        <div class="layui-tab" lay-allowClose="true" lay-filter="demo">
            <ul class="layui-tab-title" id="myLayuiTab">
            </ul>
            <div class="layui-tab-content">
            </div>
        </div>
    </div>

</div>
<script th:src="@{layui/layui.js}"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','jquery','form'], function(){

        var element = layui.element;
        var form = layui.form;
        var $ = layui.jquery;  //直接引入官方的Jquery来和平常一样使用

        element.on('nav', function(data){

            //触发事件
            var active = {
                //在这里给active绑定几项事件，后面可通过active调用这些事件
                tabAdd: function(url,id,name) {
                    //新增一个Tab项 传入三个参数，分别对应其标题，tab页面的地址，还有一个规定的id，是标签中data-id的属性值
                    //关于tabAdd的方法所传入的参数可看layui的开发文档中基础方法部分
                    element.tabAdd('demo', {
                        title: name,
                        content: '<iframe data-frameid="'+id+'" scrolling="auto" frameborder="0" src="'+url+'" style="width:100%;height:99%;"></iframe>',
                        id: id //规定好的id
                    });
                    FrameWH();  //计算ifram层的大小
                },
                tabChange: function(id) {
                    //切换到指定Tab项
                    element.tabChange('demo', id); //根据传入的id传入到指定的tab项
                },
                tabDelete: function (id) {
                    element.tabDelete("demo", id);//删除
                }
                , tabDeleteAll: function (ids) {//删除所有
                    $.each(ids, function (i,item) {
                        element.tabDelete("demo", item); //ids是一个数组，里面存放了多个id，调用tabDelete方法分别删除
                    })
                }
            };
            //当点击有queryLecture属性的标签时，即左侧菜单栏中内容 ，触发点击事件
            $('.queryHire').on('click', function() {
                var dataid = $(this);
                $.ajax({
                    method: "POST",
                    url: 'http://localhost:8080/service_rental/hire/queryUserHire',
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    async: false,
                    success: function (res) {
                        if (res.code === 1000) {

                        } else {
                            // 错误信息
                            layer.msg(res.message, {icon: 2, anim: 6});
                        }
                    },
                    error: function () {
                        layer.msg("AJAX请求异常");
                        layer.alert("AJAX请求异常，返回结果："+res);
                    }
                });
            });
            //当点击有site-url属性的标签时，即左侧菜单栏中内容 ，触发点击事件
            $('.site-url').on('click', function() {

                var dataid = $(this);

                //这时会判断右侧.layui-tab-title属性下的有lay-id属性的li的数目，即已经打开的tab项数目
                if ($(".layui-tab-title li[lay-id]").length <= 0) {
                    //如果比零小，则直接打开新的tab项
                    active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                } else {
                    //否则判断该tab项是否以及存在

                    var isData = false; //初始化一个标志，为false说明未打开该tab项 为true则说明已有
                    $.each($(".layui-tab-title li[lay-id]"), function () {
                        //如果点击左侧菜单栏所传入的id 在右侧tab项中的lay-id属性可以找到，则说明该tab项已经打开
                        if ($(this).attr("lay-id") == dataid.attr("data-id")) {
                            isData = true;
                        }
                    });
                    if (isData == false) {
                        //标志为false 新增一个tab项
                        active.tabAdd(dataid.attr("data-url"), dataid.attr("data-id"),dataid.attr("data-title"));
                    }
                }
                //最后不管是否新增tab，最后都转到要打开的选项页面上
                active.tabChange(dataid.attr("data-id"));
            });

            function FrameWH() {
                var h = $(window).height() -41- 10 - 60 -10-44 -10;
                $("iframe").css("height",h+"px");
            }
        });

    });
</script>
</body>
</html>
